<h1>Products index</h1>

<%= link_to 'Add New Product', new_product_path %>
<%= link_to 'Create a profile', new_profile_path %>
<%= link_to 'User Address', new_address_path %>
<%= link_to 'My Delivery Details', delivery_details_path %>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
          <%= link_to 'Show', product_path(product) %> |
          <%= link_to 'Edit', edit_product_path(product) %> |
          <%= button_to 'Delete', product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { no_turbolink: true } %>
<% end %>
<%= button_to 'Login with Google', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"} %>